* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             common css end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */


/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             menu part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.menu_part {
    height: 90px;
    background: rgba(0, 0, 0, 0.44);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.menu_container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    flex-basis: 120px;
    padding-top: 34px;
}

.main_menu {
    flex-basis: 900px;
}

.main_menu ul {
    display: flex;
    justify-content: flex-end;
}

.main_menu ul li a {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    line-height: 90px;
    margin-left: 44px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;

}

.main_menu ul li a:hover {
    color: #28b8d8;
}

.menu_icon {
    flex-basis: 150px;
    position: relative;
}

.menu_icon ul {
    display: flex;
    justify-content: flex-end;
}

.menu_icon ul li a {
    color: #ffffff;
    font-size: 12px;
    line-height: 90px;
    margin-left: 22px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;

}

.menu_icon ul li a:hover {
    color: #28b8d8;
}

.menu_icon:after {
    position: absolute;
    content: '';
    left: 19px;
    top: 31px;
    width: 1px;
    height: 30px;
    background: #3b3942;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             menu part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             barner part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.barner_part {
    background: url(../images/barner.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 330px 0 252px;
    text-align: center;

}

.barner_part h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-bottom: -3px;

}

.barner_part h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4px;

}

.barner_part p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;

}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             barner part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             service part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.service_part {
    padding: 80px 0;
    text-align: center;
    background: #f9f9f9;
}

.service_head h2 {
    color: #444444;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 17px;

}

.service_head p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}

.service_main {
    margin-top: 70px;
    margin-bottom: 26px;
}

.service_main h3 {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;

}

.service_inner {
    display: flex;
    flex-wrap: wrap;
}

.service_img_main {
    flex-basis: 31.62%;
    padding: 16px;
    border: 1px solid #e3e3e3;
    margin-right: 30px;
}

.service_img img {
    width: 100%;
}

.service_text {
    margin-top: 22px;
}

.service_text h4 {
    color: #444444;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 4px;

}

.service_text p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;

}

.ser_mar {
    margin-right: 0;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             service part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             instagram part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.instagram_part {
    background: #2c2c2c;
    padding: 80px 0;
    text-align: center;

}

.instagram_head h3 {
    color: #d5d5d5;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.instagram_head h3::after {
    position: absolute;
    content: '';
    left: -115px;
    top: 8px;
    width: 100px;
    height: 1px;
    background: #535353;
}

.instagram_head h3::before {
    position: absolute;
    content: '';
    left: -115px;
    bottom: 8px;
    width: 100px;
    height: 1px;
    background: #535353;
}

.instagram_head {
    position: relative;
    display: inline-block;
}

.instagram_head::after {
    position: absolute;
    content: '';
    right: -115px;
    top: 8px;
    width: 100px;
    height: 1px;
    background: #535353;
}

.instagram_head::before {
    position: absolute;
    content: '';
    right: -115px;
    bottom: 8px;
    width: 100px;
    height: 1px;
    background: #535353;
}

.instagram_main {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0 40px;
}

.instagram_img {
    margin-right: 15px;
    flex-basis: 24.29%;
}

.instagram_img img {
    width: 100%;
}

.insta_mar {
    margin-right: 0;
}

.instagram_inner a {
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 18px 20px;
    border: 1px solid #797979;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;

}

.instagram_inner a i {
    margin-right: 7px;
}


.instagram_inner a:hover {
    color: #fff;
    background: #28b8d8;
    border: 1px solid #28b8d8;
    transform: scale(1.1);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             instagram part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             menu part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.journal_part {
    background: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}

.journal_head h3 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.journal_head h3::after {
    position: absolute;
    content: '';
    left: -115px;
    top: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.journal_head h3::before {
    position: absolute;
    content: '';
    left: -115px;
    bottom: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.journal_head {
    position: relative;
    display: inline-block;
}

.journal_head::after {
    position: absolute;
    content: '';
    right: -115px;
    top: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.journal_head::before {
    position: absolute;
    content: '';
    right: -115px;
    bottom: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.journal_main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.journal_cont {
    border: 1px solid #e3e3e3;
    margin-right: 30px;
    flex-basis: 31.62%;
}

.journal_text h5 {
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    margin: 20px 0 10px;

}

.journal_text p {
    color: #999999;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}

.journal_img {
    margin: 22px 0 19px;
}

.journal_img img {
    width: 100%;
}

.journal_inner {
    padding: 0 40px 24px;
    text-align: left;
}

.journal_inner p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    margin-bottom: 18px;
}

.journal_inner a {
    color: #999999;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.journal_inner a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #28b8d8;
}

.journal_inner a:hover {
    color: #28b8d8;
    transform: scale(1.1);
}


.journal_inner span {
    color: #999999;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    float: right;

}

.jour_mar {
    margin-right: 0;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             menu part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             about part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.about_part {
    padding-bottom: 80px;
    background: #f9f9f9;
}


.about_main {
    display: flex;
    flex-wrap: wrap;
}

.about_item {
	flex-basis: 48.63%;
	margin-right: 32px;
}



.about_head h3 {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: relative;

}

.about_head h3::after {
    position: absolute;
    content: '';
    left: 160px;
    top: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.about_head h3::before {
    position: absolute;
    content: '';
    left: 160px;
    bottom: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.about_inner {
    margin-top: 30px;
}

.about_img {
    margin-right: 27px;
    float: left;
}

.about_img img {
    width: 100%;
}

.about_text p {
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    line-height: 28px;

}

.about_text span {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    display: block;
    padding-top: 12px;

}

.about_section h3 {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: relative;

}

.about_section h3::after {
    position: absolute;
    content: '';
    left: 112px;
    top: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.about_section h3::before {
    position: absolute;
    content: '';
    left: 112px;
    bottom: 8px;
    width: 100px;
    height: 1px;
    background: #d9d9d9;
}

.about_icon {
    display: flex;
    padding-bottom: 20px;
}

.icon_left i {
    color: #28b8d8;
    font-size: 37px;
    margin-right: 24px;
}

.icon_right h4 {
    color: #444444;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;

}

.icon_right p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    padding-top: 10px;

}

.icon_mar {
    padding-bottom: 0;
}

.about_mar{
    margin-right: 0;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             about part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
           footer part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.footer_part {
    background: #373737;
    padding: 68px 0 65px;
}

.footer_cont {
    display: flex;
    flex-wrap: wrap;
}

.footer_main {
    flex-basis: 21.92%;
    margin-right: 48px;
}

.footer_head {
    padding-bottom: 20px;
}

.footer_head h5 {
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.contact_text{
    display: flex;
    margin-bottom: 6px;
}

.contact_text i{
    font-size: 14px;
    color: #cacaca;
    margin-right: 15px;
}

.contact_text a{
    color: #cacaca;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.contact_text a:hover{
    color: #28b8d8;
}

/*
.footer_contact ul li a {
    color: #cacaca;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}

.footer_contact ul li a i {
    margin-right: 15px;
}

.footer_contact ul li {
    margin-bottom: 6px;
    display: flex;

}
*/

/*
.footer_contact ul li a {
    color: #cacaca;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    
}

.footer_contact ul li i{
    color: #cacaca;
    font-size: 14px;
    margin-right: 15px;
    float: left;
}
.footer_contact ul li{
    margin-bottom: 6px;
}
*/

.footer_text p {
    color: #cacaca;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.footer_text p span {
    color: #929292;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.footer_text {
    margin-bottom: 20px;
}

.footer_mar {
    margin-right: 0;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
           footer part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
         copyright part start
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
.copyright_part {
    background: #333;
    height: 75px;
}

.copy_right p {
    color: #cacaca;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 75px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        copyright part end
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
